@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #182625, #28403D);
}

main {
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px #0b111170;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2F3D40;
    text-align: center;
    text-shadow: 1px 1px 2px #212c2e71;
}

h2 {
    color: #455559;
}

p {
    text-align: justify;
}